body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 40px;
}
 hr {
    display:none;
    
}
button {
    margin-bottom: 25px;
}
body {
    background-color:#285351;
    color:#12172b;
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease;
     
}


textarea {
    width: 60%;
    height: 100px;
    font-size: 20px;
    color: black;
}

input[type="file"] {
    font-size: 26px;
    margin-left:30px;
}

button {
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1c66ac67;
}

.response {
    margin-top: 20px;
    background: hwb(0 100% 0% / 0.966);
    padding: 15px;
    border-radius: 8px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
}

h2, h3 {
    text-align: center;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.center {
    text-align: center;
}

textarea, input[type="file"] {
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #020617;
    color: white;
}

button {
    margin-top: 12px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #6366f1;
    color: white;
}

button:hover {
    background: #4f46e5;
}

.btn-group button {
    margin: 5px;
}

.response {
    line-height: 1.6;
}

.emotion {
    opacity: 0.8;
    font-size: 14px;
}


